IPHONEOS_DEPLOYMENT_TARGET = 15.1
SWIFT_VERSION = 5.9
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = X5G6AN3DYX
CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER =
WT_APP_GROUP_ID = group.7518554
WT_HOST_BUNDLE_ID = app.lgm.7517
WT_KEYBOARD_BUNDLE_ID = app.lgm.7517.123
WT_SHARE_BUNDLE_ID = app.lgm.7517.share
WT_WIDGET_BUNDLE_ID = app.lgm.7517.widget
WT_VOICE_ACTIVITY_BUNDLE_ID = app.lgm.7517.voiceactivity
