IPHONEOS_DEPLOYMENT_TARGET = 15.1
SWIFT_VERSION = 5.9
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = YOUR_TEAM_ID
CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER =
WT_APP_GROUP_ID = group.dev.wetype.replica.shared
WT_BASE_BUNDLE_ID = dev.wetype.replica
