<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>微信输入法</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>All Files</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>微信输入法</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>wxkb</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>wetype</string>
                <string>wtreplica</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>wxkbdev</string>
        <string>itms-apps</string>
        <string>itms-beta</string>
        <string>weread</string>
        <string>tencentmsdk1104466820</string>
        <string>pubgmhd1106467070</string>
        <string>shareddocuments</string>
    </array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>用于扫描二维码</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>用于录制音频进行语音转文字</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>用于将语音转换为文字并返回输入法</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>用于读取用户选择或主动分享的照片，并保存图片到相册</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>用于保存图片到相册</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>需要使用本地网络来发现和连接附近设备以传输文件</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_wtreplica._tcp</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>WTAppGroupIdentifier</key>
    <string>$(WT_APP_GROUP_ID)</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneClassName</key>
                    <string>UIWindowScene</string>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>UIDesignRequiresCompatibility</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
</dict>
</plist>
